<html>
    <head>
        <title>To-Do Lists</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href = "/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
    </head>
    <body>
    <div class="container">
        <div class="row justify-content-center p-5 bg-body-tertiary rounded-3">
            <div class="col-lg-6 text-center">
                <h1 class="display-1 mb-4">{% block header_text %}{% endblock %}</h1>
                <form method="POST" action="{% block form_action %}{% endblock %}">
                    {% csrf_token %}
                    <input class="form-control form-control-lg"
                           name="item_text"
                           id="id_new_item"
                           placeholder="작업 아이템 입력"
                    />
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6">
                {% block table %}
                {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>